[websocket]
url = ws://127.0.0.1:8080/ws

[connection]
keep_connection = false

[game]
num = 1

[agent]
num = 5
name1 = kanolab1
name2 = kanolab2
name3 = kanolab3
name4 = kanolab4
name5 = kanolab5

[model]
ChatGPT = false
Gemini = true

[path]
api_key_path = ./src/res/.env
chatgpt_config = ./src/res/llm/chatgpt.ini
gemini_config = ./src/res/llm/gemini.ini
log_config = ./src/res/log.ini
